WcfServiceLibrary/Interface/Connected Services/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetMarathon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarathon" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarathon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarathonResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventType" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPreviousResult_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousResult" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPreviousResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousResultResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRunner_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRunner" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRunner_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRunnerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCountry" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCountry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCountryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerPreviousResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerPreviousResults" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerPreviousResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerPreviousResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerParam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerParam" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerParamResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTotalPreviousResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPreviousResults" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTotalPreviousResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPreviousResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEventTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceKitOptions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceKitOptions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceKitOptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceKitOptionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSponsorships_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorships" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSponsorships_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSponsorshipsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerCharity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerCharity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunnerCharity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnerCharityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunners_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRunners" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRunners_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRunnersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarathonStartDateTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMarathonStartDateTime" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMarathonStartDateTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMarathonStartDateTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetMarathon">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMarathon" message="tns:IService1_GetMarathon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMarathonResponse" message="tns:IService1_GetMarathon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEventType" message="tns:IService1_GetEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventTypeResponse" message="tns:IService1_GetEventType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGender" message="tns:IService1_GetGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGenderResponse" message="tns:IService1_GetGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviousResult">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPreviousResult" message="tns:IService1_GetPreviousResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPreviousResultResponse" message="tns:IService1_GetPreviousResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRunner">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRunner" message="tns:IService1_AddRunner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRunnerResponse" message="tns:IService1_AddRunner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCountry">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCountry" message="tns:IService1_GetCountry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCountryResponse" message="tns:IService1_GetCountry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRunnerPreviousResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRunnerPreviousResults" message="tns:IService1_GetRunnerPreviousResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRunnerPreviousResultsResponse" message="tns:IService1_GetRunnerPreviousResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRunnerParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRunnerParam" message="tns:IService1_GetRunnerParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRunnerParamResponse" message="tns:IService1_GetRunnerParam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalPreviousResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTotalPreviousResults" message="tns:IService1_GetTotalPreviousResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTotalPreviousResultsResponse" message="tns:IService1_GetTotalPreviousResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEventTypes" message="tns:IService1_GetEventTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEventTypesResponse" message="tns:IService1_GetEventTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceKitOptions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRaceKitOptions" message="tns:IService1_GetRaceKitOptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRaceKitOptionsResponse" message="tns:IService1_GetRaceKitOptions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharity" message="tns:IService1_GetCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharityResponse" message="tns:IService1_GetCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSponsorships">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSponsorships" message="tns:IService1_GetSponsorships_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSponsorshipsResponse" message="tns:IService1_GetSponsorships_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRunnerCharity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRunnerCharity" message="tns:IService1_GetRunnerCharity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRunnerCharityResponse" message="tns:IService1_GetRunnerCharity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRunners">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRunners" message="tns:IService1_GetRunners_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRunnersResponse" message="tns:IService1_GetRunners_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMarathonStartDateTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMarathonStartDateTime" message="tns:IService1_GetMarathonStartDateTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMarathonStartDateTimeResponse" message="tns:IService1_GetMarathonStartDateTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMarathon">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMarathon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventType">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreviousResult">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPreviousResult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRunner">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRunner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCountry">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCountry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunnerPreviousResults">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRunnerPreviousResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunnerParam">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRunnerParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPreviousResults">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTotalPreviousResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEventTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEventTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceKitOptions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRaceKitOptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSponsorships">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSponsorships" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunnerCharity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRunnerCharity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRunners">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRunners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarathonStartDateTime">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMarathonStartDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>